html {
    background-color: #e7e7e7;
}

#toolbar {

}
#toolbar p, #toolbar .tool-item {

}
#canvas {
    width: 640px;
}

p {
    margin-bottom: 0;
}

#canvas-size input {
    width: 100px;
}

#canvas, #ink, #paper, #tools, #brightness, #canvas-size, #export, #mode {
    display: block;
    clear: both;
}

.palette-item {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.palette-item:hover {
    border: 1px solid black;
}

.palette-item.selected {
    border: 1px solid black;
}

#paper-black, #ink-black, .ink-black .bit1, .paper-black .bit0 {
    background-color: #000000;
}

#paper-blue, #ink-blue, .ink-blue .bit1, .paper-blue .bit0 {
    background-color: #0022c7;
}

.palette-bright #paper-blue, .palette-bright #ink-blue , .ink-blue.br .bit1, .paper-blue.br .bit0 {
    background-color: #002bfb;
}

#paper-red, #ink-red, .ink-red .bit1, .paper-red .bit0 {
    background-color: #d62816;
}

.palette-bright #paper-red, .palette-bright #ink-red, .ink-red.br .bit1, .paper-red.br .bit0 {
    background-color: #ff331c;
}

#paper-pink, #ink-pink, .ink-pink .bit1, .paper-pink .bit0 {
    background-color: #d433c7;
}

.palette-bright #paper-pink, .palette-bright #ink-pink, .ink-pink.br .bit1, .paper-pink.br .bit0 {
    background-color: #ff40fc;
}

#paper-green, #ink-green, .ink-green .bit1, .paper-green .bit0 {
    background-color: #00c525;
}

.palette-bright #paper-green, .palette-bright #ink-green, .ink-green.br .bit1, .paper-green.br .bit0 {
    background-color: #00f92f;
}

#paper-cyan, #ink-cyan, .ink-cyan .bit1, .paper-cyan .bit0 {
    background-color: #00c7c9;
}

.palette-bright #paper-cyan, .palette-bright #ink-cyan, .ink-cyan.br .bit1, .paper-cyan.br .bit0 {
    background-color: #00fbfe;
}

#paper-yellow, #ink-yellow, .ink-yellow .bit1, .paper-yellow .bit0 {
    background-color: #ccc82a;
}

.palette-bright #paper-yellow, .palette-bright #ink-yellow, .ink-yellow.br .bit1, .paper-yellow.br .bit0 {
    background-color: #fffc36;
}

#paper-white, #ink-white, .ink-white .bit1, .paper-white .bit0 {
    background-color: #cacaca;
}

.palette-bright #paper-white, .palette-bright #ink-white, .ink-white.br .bit1, .paper-white.br .bit0 {
    background-color: #ffffff;
}

.character {
    float: left;
    width: 20px;
    height: 20px;
    outline:1px #9fb0c6 solid !important;
}

#canvas .bit0, #canvas .bit1 {
    float: left;
    width: 10px;
    height: 10px;
}
#canvas .bit0:hover, #canvas .bit1:hover {
    width: 10px;
    height: 10px;
    border: 1px solid #868686;
}

#export textarea {
    display: block;
    width: 600px;
}

